<template>
  <v-container class="pt-6" :fluid="isUseFlueid">
    <bill-selector :mode="selectorMode" />
  </v-container>
</template>
<script>
import OtherService from "@/services/utilities/other";

import BillSelector from "@/components/BillSelector.vue";

export default {
  components: { BillSelector },
  name: "BillSearch",
  data: () => ({
    selectorMode: "Manage-Bill",
  }),
  watch: {},
  computed: {
    isUseFlueid() {
      return OtherService.useFluid(this.$vuetify.breakpoint.name);
    },
  },
  methods: {},
};
</script>
