<template>
  <v-container class="pt-6" :fluid="isUseFlueid">
    <alert v-model="alert" />

    <v-col cols="12" class="d-flex">
      <v-spacer />
      <v-btn color="primary" @click="CloseBill">
        {{ $t("components.billClose.closeBillBtnText") }}
      </v-btn>
    </v-col>

    <v-col cols="12">
      <v-simple-table v-if="!globalIsLoading">
        <thead>
          <tr>
            <th>{{ $t("components.billClose.table.header.column1") }}</th>
            <th>{{ $t("components.billClose.table.header.column2") }}</th>
            <th>{{ $t("components.billClose.table.header.column3") }}</th>
            <th style="width: 240px">
              {{ $t("components.billClose.table.header.column4") }}
            </th>
            <th style="width: 240px">
              {{ $t("components.billClose.table.header.column5") }}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(bill, index) in bills" :key="`bill-${bill.id}`">
            <td>{{ index + 1 }}</td>
            <td>{{ `${bill.customer.name_th} [${bill.id}]` }}</td>
            <td>{{ bill.createdAt }}</td>
            <td>{{ bill.totalPrice }}</td>
            <td>
              <v-text-field
                v-model="bill.totalPaid"
                dense
                solo
                hide-details="auto"
                :rules="[
                  (v) =>
                    /^\d+$|^$|undefined/.test(v) ||
                    $t('components.billClose.table.body.totalPaid.warning1'),
                ]"
              />
            </td>
          </tr>
        </tbody>
      </v-simple-table>
    </v-col>
  </v-container>
</template>

<script>
import BillService from "@/services/Bill";
import OtherService from "@/services/utilities/other";

import Alert from "@/components/Alert.vue";

export default {
  components: { Alert },
  name: "BillClose",
  data: () => ({
    bills: [],
    alert: {
      visible: false,
      header: "",
      message: "",
    },
  }),
  computed: {
    globalIsLoading() {
      return this.$store.state.isGlobalLoading;
    },
    locale: function () {
      return this.$i18n.locale;
    },
    isUseFlueid() {
      return OtherService.useFluid(this.$vuetify.breakpoint.name);
    },
  },
  watch: {
    locale: async function (val) {
      await this.SearchBill(val);
    },
  },
  methods: {
    async ErrorHandle(mainProcess) {
      try {
        this.$store.dispatch("SetGlobalLoading", true);
        await mainProcess();
      } catch (err) {
        let resMessage = err.response ? err.response.data : err;
        this.alert.header = this.$t("components.billClose.alertHeader");
        this.alert.message = resMessage;
        this.alert.visible = true;
      } finally {
        this.$store.dispatch("SetGlobalLoading", false);
      }
    },
    async SearchBill(locale) {
      await this.ErrorHandle(async () => {
        this.bills = await BillService.Search(locale, "", "", "open");
        this.bills.map((bill) => {
          bill.totalPaid = this.CalculateTotalPrice(bill.products);
          bill.totalPrice = bill.totalPaid;
          return bill;
        });
      });
    },
    CalculateTotalPrice(products) {
      let total =
        products.length > 0
          ? products
              .map((product) =>
                product.units
                  .map((unit) => unit.amount * unit.price)
                  .reduce((prev, next) => prev + next)
              )
              .reduce((prev, next) => prev + next)
          : 0;
      return total;
    },
    async CloseBill() {
      await this.ErrorHandle(async () => {
        await BillService.Close(this.bills);

        this.$router.push({
          name: "Bill Search",
        });
      });
    },
  },
  async created() {
    await this.SearchBill(this.locale);
  },
};
</script>
