<template>
  <v-container class="pt-6" :fluid="isUseFlueid">
    <v-row>
      <v-col>
        <v-card>
          <v-card-title v-if="mode == pageMode.new">
            {{ $t(`pages.bill.title`) }}
          </v-card-title>

          <v-card-text>
            <alert v-model="alert" />
            <h1 class="text-center" v-if="mode != pageMode.new">
              {{ `${bill.customer.name_th} [${bill.id}]` }}
            </h1>
            <v-row class="mt-2">
              <v-col cols="3">
                <v-autocomplete
                  v-if="mode != pageMode.new"
                  v-model="bill.status"
                  :items="billStatus"
                  dense
                  outlined
                  class="mb-6"
                  hide-details="auto"
                  item-value="KEY"
                  item-text="NAME"
                  :label="$t(`pages.bill.statusText`)"
                />
              </v-col>
              <v-col>
                <h2 class="text-right pt-3" v-if="mode != pageMode.new">
                  {{ `${$t(`pages.bill.datePrefix`)} ${bill.createdAt}` }}
                </h2>
              </v-col>
            </v-row>

            <v-autocomplete
              v-if="mode == pageMode.new"
              v-model="bill.customerId"
              :items="customerList"
              dense
              outlined
              class="mb-6"
              hide-details="auto"
              item-value="id"
              item-text="name"
              :label="$t(`pages.bill.textBoxNameLabel`)"
            />
            <v-simple-table v-if="mode != pageMode.new">
              <thead>
                <tr>
                  <th class="text-left">
                    {{ $t(`pages.bill.table.header.column1`) }}
                  </th>
                  <th colspan="2" class="text-center">
                    {{ $t(`pages.bill.table.header.column2`) }}
                  </th>
                  <th class="text-right">
                    {{ $t(`pages.bill.table.header.column3`) }}
                  </th>
                  <th class="text-center" v-if="bill.status == 'open'">
                    {{ $t(`pages.bill.table.header.column4`) }}
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(product, index) in bill.products" :key="index">
                  <td>{{ product.name }}</td>
                  <td
                    class="text-right"
                    style="max-width: 20px; padding-right: 0 !important"
                  >
                    <pre>{{ GetAmountText(product.units) }}</pre>
                  </td>
                  <td
                    class="text-left"
                    style="max-width: 20px; padding-left: 6px !important"
                  >
                    <pre>{{ GetUnitText(product.units) }}</pre>
                  </td>
                  <td class="text-right">{{ GetPriceText(product.units) }}</td>
                  <td class="text-center" v-if="bill.status == 'open'">
                    <v-btn color="error" small @click="DeleteProduct(index)">
                      {{ $t(`pages.bill.table.body.deleteBtnText`) }}
                    </v-btn>
                  </td>
                </tr>
                <tr>
                  <td colspan="3">
                    {{ $t(`pages.bill.table.body.totalPrefix`) }}
                  </td>
                  <td class="text-right">
                    {{ CurrencyFormat(billTotalPrice) }}
                  </td>
                  <td v-if="bill.status == 'open'"></td>
                </tr>
              </tbody>
            </v-simple-table>
          </v-card-text>
          <v-card-actions>
            <v-btn color="primary" class="mb-3" @click="SaveBill"> Save </v-btn>
            <v-btn color="primary" class="mb-3" @click="Print"> Print </v-btn>

            <v-btn
              color="primary"
              class="mb-3"
              @click="AddProduct"
              v-if="mode != pageMode.new"
            >
              เพิ่มสินค้า
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import { env } from "@/env";
import BillService from "@/services/Bill";
import CustomerService from "@/services/Customer";
import CurrencyUtility from "@/services/utilities/currency";
import OtherService from "@/services/utilities/other";

import Alert from "@/components/Alert.vue";

export default {
  components: { Alert },
  name: "BillPage",
  data: () => ({
    pageMode: {
      new: "New",
      edit: "Edit",
    },
    mode: "",
    bill: {
      customer: {
        name: "",
      },
      products: [],
    },
    billStatus: [],
    alert: {
      visible: false,
      header: "",
      message: "",
    },
    billPrintDialog: false,
    customerList: [],
  }),
  computed: {
    billTotalPrice: function () {
      let total =
        this.bill.products.length > 0
          ? this.bill.products
              .map((product) =>
                product.units
                  .map((unit) => unit.amount * unit.price)
                  .reduce((prev, next) => prev + next)
              )
              .reduce((prev, next) => prev + next)
          : 0;
      return total;
    },
    locale: function () {
      return this.$i18n.locale;
    },
    isUseFlueid() {
      return OtherService.useFluid(this.$vuetify.breakpoint.name);
    },
  },
  watch: {
    locale: async function (val) {
      switch (this.mode) {
        case this.pageMode.new:
          break;
        case this.pageMode.edit:
          await this.ErrorHandle(async () => {
            let res = await BillService.GetById(this.bill.id, val);
            if (res) this.bill = res;

            this.billStatus = await this.$store.dispatch(
              "cache/GetBillStatus",
              this.locale
            );
          });
          break;
      }
    },
  },
  methods: {
    async ErrorHandle(mainProcess) {
      try {
        this.$store.dispatch("SetGlobalLoading", true);
        await mainProcess();
      } catch (err) {
        let resMessage = err.response ? err.response.data : err;
        this.alert.header = this.$t(`pages.bill.alertHeader`);
        this.alert.message = resMessage;
        this.alert.visible = true;
      } finally {
        this.$store.dispatch("SetGlobalLoading", false);
      }
    },
    CalculateTotalPrice(unit) {
      if (/^\d+$/.test(unit.amount))
        unit.totalPrice = parseInt(unit.amount) * unit.price;
      else unit.totalPrice = 0;

      return unit.totalPrice;
    },
    async SaveBill() {
      await this.ErrorHandle(async () => {
        switch (this.mode) {
          case this.pageMode.new:
            await BillService.AddBill(this.bill);
            this.$router.push({
              name: "Bill Search",
            });
            break;
          case this.pageMode.edit:
            await BillService.UpdateBill(this.bill);
            this.$router.push({
              name: "Bill Search",
            });
            break;
        }
      });
    },
    DeleteProduct(index) {
      this.bill.products.splice(index, 1);
    },
    async Print() {
      window
        .open(
          `${env.apiUrl}/bills/pdf?bills=${encodeURI(
            JSON.stringify([this.bill])
          )}`,
          "_blank"
        )
        .focus();
    },
    GetAmountText(units) {
      let result = units
        ? units
            .map((unit) => unit.amount)
            .reduce((prev, next) => `${prev}\n${next}`)
        : 0;
      return result;
    },
    GetUnitText(units) {
      let result = units
        ? units
            .map((unit) => unit.name)
            .reduce((prev, next) => `${prev}\n${next}`)
        : 0;
      return result;
    },
    GetPriceText(units) {
      let result = units
        ? units
            .map((unit) => unit.amount * unit.price)
            .reduce((prev, next) => prev + next)
        : 0;
      return this.CurrencyFormat(result);
    },
    CurrencyFormat(val) {
      return CurrencyUtility.formatMoney(val);
    },
    AddProduct() {
      let bill = this.bill;
      this.$router.push({
        name: "Product",
        params: { bill },
      });
    },
  },
  async created() {
    await this.ErrorHandle(async () => {
      this.customerList = await CustomerService.GetAll(this.locale, "");

      this.billStatus = await this.$store.dispatch(
        "cache/GetBillStatus",
        this.locale
      );

      this.mode = this.$route.params.mode;
      switch (this.mode) {
        case this.pageMode.new:
          break;
        case this.pageMode.edit:
          await this.ErrorHandle(async () => {
            this.bill = this.$route.params.bill;

            if (this.bill.status == "close") {
              this.billStatus = this.billStatus.filter(
                (status) => status.KEY == "close"
              );
            } else {
              this.billStatus = this.billStatus.filter(
                (status) => status.KEY != "close"
              );
            }
          });
          break;
      }
    });
  },
};
</script>
