<template>
  <v-app>
    <v-app-bar app>
      <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
    </v-app-bar>

    <v-navigation-drawer v-model="drawer" app>
      <v-list dense nav>
        <v-list-item
          v-for="menu in menus"
          :key="menu.title"
          link
          @click="$router.push({ name: menu.routeName })"
        >
          <v-list-item-icon>
            <v-icon>{{ menu.icon }}</v-icon>
          </v-list-item-icon>

          <v-list-item-content>
            <v-list-item-title>{{ $t(menu.i18nTranslate) }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>

      <template v-slot:append>
        <v-menu bottom min-width="200px" rounded offset-y>
          <template v-slot:activator="{ on }">
            <v-list>
              <v-list-item class="px-4" v-on="on">
                <v-list-item-avatar>
                  <v-img :src="$t('locale.image')"></v-img>
                </v-list-item-avatar>
                <v-list-item-content>
                  {{ $t("locale.title") }}
                </v-list-item-content>
              </v-list-item>
            </v-list>
          </template>

          <v-list dense nav>
            <v-list-item
              v-for="(locale, index) in locales"
              :key="index"
              link
              @click="ChangeLocal(locale.i18nLocale)"
            >
              <v-list-item-content>
                <v-list-item-title>{{ locale.title }}</v-list-item-title>
              </v-list-item-content>
            </v-list-item>
          </v-list>
        </v-menu>
      </template>
    </v-navigation-drawer>

    <v-main>
      <router-view />
    </v-main>
  </v-app>
</template>

<script>
export default {
  name: "Dashboard",
  data: () => ({
    drawer: false,
    menus: [
      {
        icon: "mdi-magnify",
        routeName: "Product",
        i18nTranslate: "menus.productSearch",
      },
      {
        icon: "mdi-magnify",
        routeName: "Bill Search",
        i18nTranslate: "menus.billSearch",
      },
      {
        icon: "mdi-printer",
        routeName: "Print Bills",
        i18nTranslate: "menus.printBills",
      },
    ],
    locales: [
      {
        i18nLocale: "th",
        title: "ภาษาไทย",
      },
      {
        i18nLocale: "my",
        title: "မြန်မာ",
      },
    ],
    alert: {
      visible: false,
      header: "",
      message: "",
    },
  }),
  computed: {
    isGlobalLoading() {
      return this.$store.state.isGlobalLoading;
    },
  },
  methods: {
    async ErrorHandle(mainProcess) {
      try {
        this.$store.dispatch("SetGlobalLoading", true);
        await mainProcess();
      } catch (err) {
        let resMessage = err.response ? err.response.data : err;
        this.alert.header = this.$t("components.billSelector.alertHeader");
        this.alert.message = resMessage;
        this.alert.visible = true;
      } finally {
        this.$store.dispatch("SetGlobalLoading", false);
      }
    },
    ChangeLocal(i18nLocale) {
      this.$i18n.locale = i18nLocale;
    },
  },
  async created() {
    await this.ErrorHandle(async () => {
      await this.$store.dispatch("cache/InitialData");
    });
  },
};
</script>
