<template>
  <v-container class="pt-6" :fluid="isUseFlueid">
    <v-row>
      <v-col xs="12" md="3">
        <alert v-model="alert" />

        <v-btn color="primary" width="100%" class="mb-6" @click="Print">
          {{ $t("pages.printBills.printBillsBtnLabel") }}
        </v-btn>

        <v-autocomplete
          v-model="groupSelected"
          :items="groupList"
          dense
          outlined
          class="mb-6"
          hide-details="auto"
          item-value="id"
          item-text="name"
          @change="SearchBill()"
          :disabled="globalIsLoading"
          :label="$t(`pages.printBills.searchGroupLabel`)"
        />
      </v-col>
      <v-col>
        <v-col class="text-right">
          {{ `จำนวนเงินรวม ${CurrencyFormat(billsSelectedTotalPrice)} บาท` }}
        </v-col>
        <v-simple-table v-if="!globalIsLoading">
          <thead>
            <tr>
              <th>
                <v-btn text color="primary" @click="OnBillsSelectToggleClick()">
                  {{
                    billsSelectButtonToggle
                      ? $t("pages.printBills.billsUnSelectAllBtnLabel")
                      : $t("pages.printBills.billsSelectAllBtnLabel")
                  }}
                </v-btn>
              </th>
              <th>{{ $t("pages.printBills.table.header.column1") }}</th>
              <th>{{ $t("pages.printBills.table.header.column2") }}</th>
              <th>{{ $t("pages.printBills.table.header.column3") }}</th>
              <th>{{ $t("pages.printBills.table.header.column4") }}</th>
              <th>{{ $t("pages.printBills.table.header.column5") }}</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(bill, index) in bills" :key="`bill-${bill.id}`">
              <td>
                <v-checkbox v-model="billsSelected" :value="bill"></v-checkbox>
              </td>
              <td>{{ index + 1 }}</td>
              <td>{{ `${bill.customer.name_th} [${bill.id}]` }}</td>
              <td>{{ CalculateTotalPrice(bill.products) }}</td>
              <td>{{ bill.createdAt }}</td>
              <td>
                {{
                  billStatus.length > 0
                    ? billStatus.find((status) => status.KEY == bill.status)
                        .NAME
                    : ""
                }}
              </td>
            </tr>
          </tbody>
        </v-simple-table>
        <v-simple-table v-if="globalIsLoading">
          <thead>
            <tr>
              <th><v-skeleton-loader type="table-cell" /></th>
              <th>{{ $t("pages.printBills.table.header.column1") }}</th>
              <th>{{ $t("pages.printBills.table.header.column2") }}</th>
              <th>{{ $t("pages.printBills.table.header.column3") }}</th>
              <th>{{ $t("pages.printBills.table.header.column4") }}</th>
              <th>{{ $t("pages.printBills.table.header.column5") }}</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="index in 4" :key="index">
              <td>
                <v-skeleton-loader type="table-cell" />
              </td>
              <td>
                <v-skeleton-loader type="table-cell" />
              </td>
              <td>
                <v-skeleton-loader type="table-cell" />
              </td>
              <td>
                <v-skeleton-loader type="table-cell" />
              </td>
              <td>
                <v-skeleton-loader type="table-cell" />
              </td>
              <td>
                <v-skeleton-loader type="table-cell" />
              </td>
            </tr>
          </tbody>
        </v-simple-table>
      </v-col>
    </v-row>
  </v-container>
</template>

<style scoped>
.pdf-table-header {
  color: black !important;
  height: 28px !important;
  padding: 0 !important;
}

.pdf-table-column {
  color: black !important;
  height: 28px !important;
  padding: 0 !important;
}

.underline-column {
  border-bottom: thin solid black !important;
}
</style>

<script>
import { env } from "@/env";
import BillService from "@/services/Bill";
import CustomerService from "@/services/Customer";
import CurrencyUtility from "@/services/utilities/currency";
import OtherService from "@/services/utilities/other";

import Alert from "@/components/Alert.vue";

export default {
  components: { Alert },
  name: "PrintBills",
  props: ["mode"],
  data: () => ({
    bills: [],
    billStatus: [],
    billsSelected: [],
    groupSelected: "",
    groupList: [],
    billsPrintDialog: false,
    alert: {
      visible: false,
      header: "",
      message: "",
    },
  }),
  computed: {
    globalIsLoading() {
      return this.$store.state.isGlobalLoading;
    },
    locale: function () {
      return this.$i18n.locale;
    },
    billsSelectButtonToggle() {
      return this.billsSelected.length > 0;
    },
    billsSelectedTotalPrice() {
      let total =
        this.billsSelected.length > 0
          ? this.billsSelected
              .map((bill) => this.GetBillTotalPrice(bill.products))
              .reduce((prev, next) => prev + next)
          : 0;

      return total;
    },
    isUseFlueid() {
      return OtherService.useFluid(this.$vuetify.breakpoint.name);
    },
  },
  watch: {
    locale: async function (val) {
      await this.SearchBill(val);
      this.billStatus = await this.$store.dispatch("cache/GetBillStatus", val);
    },
  },
  methods: {
    async ErrorHandle(mainProcess) {
      try {
        this.$store.dispatch("SetGlobalLoading", true);
        await mainProcess();
      } catch (err) {
        let resMessage = err.response ? err.response.data : err;
        this.alert.header = this.$t("pages.printBills.alertHeader");
        this.alert.message = resMessage;
        this.alert.visible = true;
      } finally {
        this.$store.dispatch("SetGlobalLoading", false);
      }
    },
    async SearchBill() {
      await this.ErrorHandle(async () => {
        this.bills = await BillService.Search(
          this.locale,
          this.groupSelected,
          "",
          "open"
        );

        this.billsSelected = this.bills;
      });
    },
    CalculateTotalPrice(products) {
      let total =
        products.length > 0
          ? products
              .map((product) =>
                product.units
                  .map((unit) => unit.amount * unit.price)
                  .reduce((prev, next) => prev + next)
              )
              .reduce((prev, next) => prev + next)
          : 0;
      return total;
    },
    OnBillsSelectToggleClick() {
      if (this.billsSelectButtonToggle) {
        this.billsSelected = [];
      } else {
        this.billsSelected = this.bills;
      }
    },
    CurrencyFormat(val) {
      return CurrencyUtility.formatMoney(val);
    },
    GetBillTotalPrice(products) {
      let total =
        products.length > 0
          ? products
              .map((product) =>
                product.units
                  .map((unit) => unit.amount * unit.price)
                  .reduce((prev, next) => prev + next)
              )
              .reduce((prev, next) => prev + next)
          : 0;
      return total;
    },
    async Print() {
      let bills = this.billsSelected;
      window
        .open(
          `${env.apiUrl}/bills/pdf?bills=${encodeURI(JSON.stringify(bills))}`,
          "_blank"
        )
        .focus();
    },
  },
  async created() {
    await this.ErrorHandle(async () => {
      this.groupList = await CustomerService.GetAllGroup(this.locale);
      this.groupSelected = this.groupList[0].id;

      this.billStatus = await this.$store.dispatch(
        "cache/GetBillStatus",
        this.locale
      );
    });

    await this.SearchBill(this.locale);
  },
};
</script>
