<template>
  <v-container class="d-flex pt-6" :fluid="isUseFlueid">
    <v-container class="pr-0 pl-0">
      <product-search
        v-model="pageData"
        v-if="pageData.mode == mode.productSearch"
      />
      <product v-model="pageData" v-else />
    </v-container>

    <v-container style="width: 350px">
      <bill v-model="pageData" />
    </v-container>
  </v-container>
</template>

<script>
import OtherService from "@/services/utilities/other";

import ProductSearch from "@/components/productFeature/ProductSearch.vue";
import Product from "@/components/productFeature/Product.vue";
import Bill from "@/components/billFeature/Bill.vue";

export default {
  components: { ProductSearch, Product, Bill },
  name: "ProductPage",
  data: () => ({
    mode: {
      productSearch: "product-search",
      productNew: "product-new",
      productEdit: "product-edit",
      productDisplay: "product-display",
      billEdit: "bill-edit",
      billDisplay: "biil-display",
    },
    pageData: {
      mode: "",
      selectedProduct: null,
      bill: null,
      billProductIndex: null,
    },
  }),
  computed: {
    isUseFlueid() {
      return OtherService.useFluid(this.$vuetify.breakpoint.name);
    },
  },
  watch: {},
  methods: {},
  async created() {
    this.pageData.mode = this.mode.productSearch;
    this.pageData.bill = this.$route.params.bill;
  },
};
</script>
