<template>
  <v-card>
    <v-card-title>
      {{
        `${$t("components.productFeature.brand.headerLabel")}${
          isProductEditable ? "" : ` : ${brand.name}`
        }`
      }}
    </v-card-title>
    <v-card-text v-if="isProductEditable">
      <alert v-model="alert" />

      <v-autocomplete
        v-model="brand"
        :items="brands"
        dense
        solo
        item-text="name"
        return-object
        :disabled="localLoading || globalIsLoading"
      />
    </v-card-text>
  </v-card>
</template>

<script>
import BrandService from "@/services/ProductBrand";

import Alert from "@/components/Alert.vue";

export default {
  components: { Alert },
  name: "ProductBrand",
  props: ["value", "currentMode"],
  data: () => ({
    mode: {
      productNew: "product-new",
      productEdit: "product-edit",
      productDisplay: "product-display",
      billEdit: "bill-edit",
      billDisplay: "biil-display",
    },
    alert: {
      visible: false,
      header: "",
      message: "",
    },
    brands: [],
    localLoading: false,
  }),
  computed: {
    globalIsLoading() {
      return this.$store.state.isGlobalLoading;
    },
    brand: {
      get() {
        return this.value;
      },
      set(value) {
        this.$emit("input", value);
      },
    },
    locale: function () {
      return this.$i18n.locale;
    },
    isProductEditable() {
      return (
        this.currentMode == this.mode.productEdit ||
        this.currentMode == this.mode.productNew
      );
    },
  },
  watch: {
    locale: async function (val) {
      if (this.isProductEditable) {
        await this.GetBrands(val);

        if (this.brand.id) {
          this.brand = this.brands.find((brand) => {
            return brand.id == this.brand.id;
          });
        }
      }
    },
  },
  methods: {
    async ErrorHandle(mainProcess) {
      try {
        this.localLoading = true;
        await mainProcess();
      } catch (err) {
        let resMessage = err.response ? err.response.data : err;
        this.alert.header = this.$t(
          "components.productFeature.brand.alertHeader"
        );
        this.alert.message = resMessage;
        this.alert.visible = true;
      } finally {
        this.localLoading = false;
      }
    },
    async GetBrands(locale) {
      await this.ErrorHandle(async () => {
        let data = await BrandService.GetBrands(locale);
        this.brands = data.brands;
      });
    },
  },
  async created() {
    if (this.isProductEditable) {
      await this.GetBrands(this.locale);
    }
  },
};
</script>
