<template>
  <v-card>
    <v-card-title v-if="isProductEditable">
      {{ $t("components.productFeature.categories.headerLabel") }}
    </v-card-title>
    <v-card-title v-else>
      {{ `${$t("components.productFeature.categories.headerLabel")} :` }}
      <v-chip
        v-for="category in selectedCategories"
        :key="`category-${category.id}`"
        class="ml-2"
      >
        {{ category.name }}
      </v-chip>
    </v-card-title>
    <v-card-text v-if="isProductEditable">
      <alert v-model="alert" />

      <v-autocomplete
        v-model="selectedCategories"
        :items="categories"
        dense
        solo
        multiple
        chips
        deletable-chips
        item-text="name"
        return-object
        :disabled="localLoading || globalIsLoading"
      />
    </v-card-text>
  </v-card>
</template>

<script>
import CategoryService from "@/services/Category";

import Alert from "@/components/Alert.vue";

export default {
  components: { Alert },
  name: "ProductCategories",
  props: ["value", "currentMode"],
  data: () => ({
    mode: {
      productNew: "product-new",
      productEdit: "product-edit",
      productDisplay: "product-display",
      billEdit: "bill-edit",
      billDisplay: "biil-display",
    },
    alert: {
      visible: false,
      header: "",
      message: "",
    },
    categories: [],
    localLoading: false,
  }),
  computed: {
    globalIsLoading() {
      return this.$store.state.isGlobalLoading;
    },
    selectedCategories: {
      get() {
        return this.value;
      },
      set(value) {
        this.$emit("input", value);
      },
    },
    locale: function () {
      return this.$i18n.locale;
    },
    isProductEditable() {
      return (
        this.currentMode == this.mode.productEdit ||
        this.currentMode == this.mode.productNew
      );
    },
  },
  watch: {
    locale: async function (val) {
      if (this.isProductEditable) {
        await this.GetCategories(val);

        if (this.selectedCategories.length > 0) {
          this.selectedCategories = this.categories.filter((category) =>
            this.containsObject(category, this.selectedCategories)
          );
        }
      }
    },
  },
  methods: {
    async ErrorHandle(mainProcess) {
      try {
        this.localLoading = true;
        await mainProcess();
      } catch (err) {
        let resMessage = err.response ? err.response.data : err;
        this.alert.header = this.$t(
          "components.productFeature.categories.alertHeader"
        );
        this.alert.message = resMessage;
        this.alert.visible = true;
      } finally {
        this.localLoading = false;
      }
    },
    async GetCategories(locale) {
      await this.ErrorHandle(async () => {
        let data = await CategoryService.GetCategories(locale);
        this.categories = data.categories;
      });
    },
    containsObject(obj, list) {
      var i;
      for (i = 0; i < list.length; i++) {
        if (list[i].id == obj.id) {
          return true;
        }
      }

      return false;
    },
  },
  async created() {
    if (this.isProductEditable) {
      await this.GetCategories(this.locale);
    }
  },
};
</script>
