<template>
  <v-container class="pt-6">
    <v-row>
      <v-col>
        <v-card>
          <!-- Product name -->
          <v-card-title v-if="isProductEdit">
            <v-text-field
              v-model="product.name"
              :label="$t('components.productFeature.product.nameLabel')"
              outlined
              dense
              hide-details="auto"
              class="mt-3 mb-3"
              :disabled="globalIsLoading"
            />
          </v-card-title>
          <v-toolbar flat color="grey lighten-3" v-else>
            <v-btn icon @click="GoToSearchMode" class="ml-1">
              <v-icon>mdi-chevron-left</v-icon>
            </v-btn>
            <v-toolbar-title>
              {{
                `${$t("components.productFeature.product.tltlePrefix")} ${
                  product.name
                }`
              }}
            </v-toolbar-title>
          </v-toolbar>

          <v-card-text>
            <alert v-model="alert" />
            <brand
              v-model="product.brand"
              :currentMode="pageData.mode"
              class="mb-4"
            />
            <categories
              v-model="product.categories"
              :currentMode="pageData.mode"
              class="mb-4"
            />
            <units v-model="product.units" :currentMode="pageData.mode" />
          </v-card-text>
          <v-card-actions>
            <v-btn @click="GoToSearchMode" :disabled="globalIsLoading">
              {{ $t("components.productFeature.product.backBtnText") }}
            </v-btn>
            <v-spacer />
            <v-btn color="primary" @click="Save" :disabled="globalIsLoading">
              {{ $t("components.productFeature.product.saveBtnText") }}
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import BillService from "@/services/Bill";
import ProductService from "@/services/Product";

import Alert from "@/components/Alert.vue";
import Units from "@/components/productFeature/Units.vue";
import Brand from "@/components/productFeature/Brand.vue";
import Categories from "@/components/productFeature/Categories.vue";

export default {
  components: { Alert, Units, Brand, Categories },
  name: "Product",
  props: ["value"],
  data: () => ({
    mode: {
      productSearch: "product-search",
      productNew: "product-new",
      productEdit: "product-edit",
      productDisplay: "product-display",
      billEdit: "bill-edit",
      billDisplay: "biil-display",
    },
    product: {
      name: "",
      brand: {},
      categories: [],
      units: [],
    },
    productBackup: {},
    alert: {
      visible: false,
      header: "",
      message: "",
    },
  }),
  computed: {
    pageData: {
      get() {
        return this.value;
      },
      set(value) {
        this.$emit("input", value);
      },
    },
    globalIsLoading() {
      return this.$store.state.isGlobalLoading;
    },
    locale: function () {
      return this.$i18n.locale;
    },
    isProductEdit() {
      let result = false;

      switch (this.pageData.mode) {
        case this.mode.productNew:
        case this.mode.productEdit:
          result = true;
          break;
        default:
          result = false;
          break;
      }

      return result;
    },
    isBillEdit() {
      return this.pageData.mode == this.mode.billEdit;
    },
    isBillMode() {
      let result = false;

      switch (this.pageData.mode) {
        case this.mode.billEdit:
        case this.mode.billDisplay:
          result = true;
          break;
        default:
          result = false;
          break;
      }

      return result;
    },
  },
  watch: {
    locale: async function (val) {
      await this.ErrorHandle(async () => {
        let res = await ProductService.GetById(this.product.id, val);

        if (res.product) {
          let oldUnits = this.product.units;
          let newUnits = res.product.units;

          for (let i = 0; i < oldUnits.length; i++) {
            let unit = newUnits.find((unit) => unit.id == oldUnits[i].id);
            if (unit) {
              unit.amount = oldUnits[i].amount ? oldUnits[i].amount : "";
            }
          }

          this.product = res.product;
        }
      });
    },
  },
  methods: {
    async ErrorHandle(mainProcess) {
      try {
        this.$store.dispatch("SetGlobalLoading", true);
        await mainProcess();
      } catch (err) {
        let resMessage = err.response ? err.response.data : err;
        this.alert.header = this.$t(
          "components.productFeature.product.alertHeader"
        );
        this.alert.message = resMessage;
        this.alert.visible = true;
      } finally {
        this.$store.dispatch("SetGlobalLoading", false);
      }
    },
    CalculateBillTotalPrice(products) {
      let total =
        products.length > 0
          ? products
              .map((product) =>
                product.units
                  .map((unit) => unit.amount * unit.price)
                  .reduce((prev, next) => prev + next)
              )
              .reduce((prev, next) => prev + next)
          : 0;
      return total;
    },
    async Save() {
      await this.ErrorHandle(async () => {
        if (this.isProductEdit) {
          switch (this.pageData.mode) {
            case this.mode.productNew:
              await ProductService.Create(this.product, this.locale);
              break;
            case this.mode.productEdit:
              await ProductService.Update(this.product, this.locale);
              break;
            default:
              break;
          }
        } else if (this.isBillEdit) {
          await this.SaveBill();
        }

        this.GoToSearchMode();
      });
    },
    async SaveBill() {
      if (!this.pageData.bill) {
        throw this.$t("components.productFeature.product.billWarning");
      }

      // Build new product object and clean units data
      let product = Object.assign({}, this.product);
      product.units = [];

      let units = this.product.units;
      for (let i = 0; i < units.length; i++) {
        if (units[i].amount) product.units.push(units[i]);
      }

      let bill = Object.assign({}, this.pageData.bill);

      if (this.pageData.billProductIndex > -1) {
        bill.products[this.pageData.billProductIndex] = product;
      } else {
        bill.products.push(product);
      }

      await BillService.UpdateBill(bill);
      this.pageData.bill = await BillService.GetById(bill.id, this.locale);

      this.GoToSearchMode();
    },
    GoToSearchMode() {
      this.pageData.selectedProduct = {};
      this.pageData.mode = this.mode.productSearch;
    },
  },
  async created() {
    await this.ErrorHandle(async () => {
      switch (this.pageData.mode) {
        case this.mode.productNew:
          break;
        case this.mode.productEdit:
        case this.mode.productDisplay:
        case this.mode.billEdit:
        case this.mode.billDisplay:
          this.productBackup = this.pageData.selectedProduct;
          this.product = Object.assign({}, this.productBackup);
          break;
        default:
          throw "Can't expect component mode.";
      }
    });
  },
};
</script>
