<template>
  <v-container>
    <v-row>
      <v-col xs="12" md="4" lg="3">
        <v-btn color="primary" width="100%" class="mb-6" @click="New" disabled>
          {{ $t("pages.productSearch.addNewProductBtnLabel") }}
        </v-btn>
        <alert v-model="alert" />
        <v-text-field
          v-model="searchText"
          outlined
          hide-details="auto"
          class="mb-6"
          :label="$t('pages.productSearch.searchTextLebel')"
          append-icon="mdi-magnify"
          @click:append="SearchProduct(locale)"
          @keyup.enter="SearchProduct(locale)"
          :disabled="globalIsLoading"
        ></v-text-field>
        <category-selector v-model="selectedCategories" class="mb-6" />
        <brand-selector
          v-model="selectedBrands"
          :categories="selectedCategories"
          class="mb-6"
        />
      </v-col>
      <v-col xs="12" md="8" lg="9">
        <category-filter
          v-model="selectedCategories"
          v-if="selectedCategories.length > 0"
          class="mb-6"
        />

        <brand-filter
          v-model="selectedBrands"
          v-if="selectedBrands.length > 0"
          class="mb-6"
        />

        <v-row v-if="!globalIsLoading">
          <v-col
            v-for="product in products"
            :key="`product-${product.id}`"
            class="d-flex flex-column"
            xs="12"
            md="6"
            lg="4"
          >
            <v-card
              class="flex d-flex flex-column"
              @click="OnProductSelect(product)"
            >
              <v-card-title>
                <span>{{ product.name }}</span>
                <v-spacer />
                <div @click.stop>
                  <v-speed-dial
                    direction="bottom"
                    transition="slide-y-transition"
                    @click.stop
                  >
                    <template v-slot:activator>
                      <v-btn icon small>
                        <v-icon> mdi-dots-vertical </v-icon>
                      </v-btn>
                    </template>
                    <v-btn fab small dark color="green" @click="Edit(product)">
                      <v-icon>mdi-pencil</v-icon>
                    </v-btn>
                    <v-btn
                      fab
                      small
                      dark
                      color="red"
                      @click="OnProductDelete(product)"
                      disabled
                    >
                      <v-icon>mdi-delete</v-icon>
                    </v-btn>
                  </v-speed-dial>
                </div>
              </v-card-title>
              <v-card-subtitle>
                {{
                  `${$t("pages.productSearch.brandPrefix")} : ${
                    product.brand.name
                  }`
                }}
              </v-card-subtitle>
              <v-card-text class="flex">
                <v-list rounded>
                  <v-subheader style="height: auto">
                    {{ $t("pages.productSearch.pricePrefix") }}
                  </v-subheader>
                  <v-list-item
                    v-for="(unit, i) in product.units"
                    :key="i"
                    style="min-height: 12px"
                  >
                    <v-list-item-content class="pt-1 pb-1">
                      <v-list-item-title>
                        {{
                          `${unit.name} ${$t(
                            "pages.productSearch.priceMiddle"
                          )} ${unit.price} ${$t(
                            "pages.productSearch.priceCurrency"
                          )}`
                        }}
                      </v-list-item-title>
                    </v-list-item-content>
                  </v-list-item>
                </v-list>
              </v-card-text>
              <v-card-actions>
                <v-chip
                  v-for="category in product.categories"
                  :key="`category-${category.id}`"
                  label
                  outlined
                  class="ml-2"
                >
                  {{ category.name }}
                </v-chip>
              </v-card-actions>
            </v-card>
          </v-col>
        </v-row>
        <v-row v-else>
          <v-col v-for="index in 3" :key="index" cols="4" xs="12" md="6" lg="4">
            <v-card class="pt-4">
              <v-skeleton-loader
                width="100"
                type="text"
                class="ml-4"
              ></v-skeleton-loader>
              <v-card-text>
                <v-list rounded class="pa-0">
                  <v-skeleton-loader
                    v-for="index in 3"
                    :key="index"
                    type="list-item"
                  ></v-skeleton-loader>
                </v-list>
              </v-card-text>
              <v-card-actions>
                <v-skeleton-loader
                  v-for="index in 2"
                  :key="index"
                  class="ml-2"
                  type="chip"
                ></v-skeleton-loader>
              </v-card-actions>
            </v-card>
          </v-col>
        </v-row>
      </v-col>
    </v-row>
    <v-dialog v-model="confirmProductDeleteDialog" persistent max-width="380">
      <v-card>
        <v-card-title class="text-h5">
          {{ $t("pages.productSearch.deleteConfirmAlert.header") }}
        </v-card-title>
        <v-card-text>
          {{
            $t("pages.productSearch.deleteConfirmAlert.detail", {
              name: selectedProductForDelete.name,
            })
          }}
        </v-card-text>
        <v-card-actions>
          <v-btn
            color="red darken-1"
            text
            @click="
              () => {
                confirmProductDeleteDialog = false;
                selectedProductForDelete = {};
              }
            "
          >
            {{ $t("pages.productSearch.deleteConfirmAlert.noBtnLabel") }}
          </v-btn>
          <v-spacer />
          <v-btn color="green darken-1" text @click="Delete">
            {{ $t("pages.productSearch.deleteConfirmAlert.yesBtnLabel") }}
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-container>
</template>
<script>
import ProductService from "@/services/Product";

import CategoryFilter from "@/components/CategoryFilter.vue";
import CategorySelector from "@/components/CategorySelector.vue";
import BrandSelector from "@/components/BrandSelector.vue";
import BrandFilter from "@/components/BrandFilter.vue";
import Alert from "@/components/Alert.vue";

export default {
  components: {
    CategorySelector,
    CategoryFilter,
    BrandSelector,
    BrandFilter,
    Alert,
  },
  name: "ProductSearch",
  props: ["value"],
  data: () => ({
    mode: {
      productSearch: "product-search",
      productNew: "product-new",
      productEdit: "product-edit",
      productDisplay: "product-display",
      billEdit: "bill-edit",
      billDisplay: "biil-display",
    },
    selectedCategories: [],
    selectedBrands: [],
    products: [],
    searchText: "",
    alert: {
      visible: false,
      header: "",
      message: "",
    },
    confirmProductDeleteDialog: false,
    selectedProductForDelete: {},
  }),
  computed: {
    pageData: {
      get() {
        return this.value;
      },
      set(value) {
        this.$emit("input", value);
      },
    },
    globalIsLoading() {
      return this.$store.state.isGlobalLoading;
    },
    locale: function () {
      return this.$i18n.locale;
    },
  },
  watch: {
    selectedCategories: function () {
      this.SearchProduct(this.locale);
    },
    selectedBrands: function () {
      this.SearchProduct(this.locale);
    },
  },
  methods: {
    async ErrorHandle(mainProcess) {
      try {
        this.$store.dispatch("SetGlobalLoading", true);
        await mainProcess();
      } catch (err) {
        let resMessage = err.response ? err.response.data : err;
        this.alert.header = this.$t("pages.productSearch.alertHeader");
        this.alert.message = resMessage;
        this.alert.visible = true;
      } finally {
        this.$store.dispatch("SetGlobalLoading", false);
      }
    },
    async SearchProduct(locale) {
      await this.ErrorHandle(async () => {
        let data = await ProductService.Search(
          locale,
          this.selectedCategories,
          this.selectedBrands,
          this.searchText
        );
        this.products = data.products;
      });
    },
    OnProductSelect(product) {
      this.pageData.mode = this.mode.billEdit;
      this.pageData.selectedProduct = product;
    },
    OnProductDelete(product) {
      this.selectedProductForDelete = product;
      this.confirmProductDeleteDialog = true;
    },
    New() {
      this.pageData.mode = this.mode.productNew;
      this.pageData.selectedProduct = {};
    },
    Edit(product) {
      this.pageData.mode = this.mode.productEdit;
      this.pageData.selectedProduct = product;
    },
    Delete() {
      console.log(this.selectedProductForDelete);
      this.confirmProductDeleteDialog = true;
    },
  },
  async created() {
    await this.ErrorHandle(async () => {
      await this.SearchProduct(this.locale);
    });
  },
};
</script>
