<template>
  <v-card>
    <v-card-title>
      {{ $t("components.productFeature.units.headerLabel") }}
    </v-card-title>
    <v-card-text>
      <alert v-model="alert" />

      <v-autocomplete
        v-model="tempSelectedUnits"
        :items="units"
        dense
        solo
        multiple
        chips
        deletable-chips
        item-text="name"
        return-object
        :disabled="localLoading || globalIsLoading"
        v-if="isProductEditable"
      />

      <v-simple-table>
        <thead>
          <tr>
            <td v-if="isBillMode">
              {{ $t("components.productFeature.units.table.header.column1") }}
            </td>
            <td>
              {{ $t("components.productFeature.units.table.header.column2") }}
            </td>
            <td>
              {{ $t("components.productFeature.units.table.header.column3") }}
            </td>
            <td v-if="isBillMode">
              {{ $t("components.productFeature.units.table.header.column4") }}
            </td>
            <td v-if="isProductEditable" class="text-center">
              {{ $t("components.productFeature.units.table.header.column5") }}
            </td>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(unit, index) in selectedUnits" :key="unit.id">
            <!-- Unit amount colum -->
            <td v-if="isBillMode">
              <v-text-field
                v-model="unit.amount"
                outlined
                dense
                hide-details="auto"
                class="mt-3 mb-3"
                :rules="[
                  (v) =>
                    /^\d+$|^$|undefined/.test(v) ||
                    $t(
                      'components.productFeature.units.table.body.unit.amount.warning1'
                    ),
                ]"
                :disabled="localLoading || globalIsLoading"
              />
            </td>

            <!-- Unit name column -->
            <td v-if="isProductEditable">
              <v-text-field
                v-model="unit.name"
                outlined
                dense
                hide-details="auto"
                class="mt-3 mb-3"
                :rules="[
                  (v) =>
                    !!v.trim() ||
                    $t(
                      'components.productFeature.units.table.body.unit.name.required'
                    ),
                ]"
                :disabled="localLoading || globalIsLoading"
              />
            </td>
            <td v-else>
              {{ unit.name }}
            </td>

            <!-- Price per unit column -->
            <td v-if="isDisplayOnly">
              {{ CurrencyFormat(unit.price) }}
            </td>
            <td v-else>
              <v-text-field
                v-model="unit.price"
                outlined
                dense
                hide-details="auto"
                class="mt-3 mb-3"
                :rules="[
                  (v) =>
                    /^\d+$|^$|undefined/.test(v) ||
                    $t(
                      'components.productFeature.units.table.body.unit.amount.warning1'
                    ),
                ]"
                :disabled="localLoading || globalIsLoading"
              />
            </td>

            <!-- Total price column -->
            <td v-if="isBillMode">
              {{ CurrencyFormat(CalculateTotalPrice(unit)) }}
            </td>

            <td v-if="isProductEditable" class="text-center">
              <v-btn
                fab
                small
                dark
                color="primary"
                @click="Add(index)"
                :disabled="localLoading || globalIsLoading"
              >
                <v-icon>mdi-plus</v-icon>
              </v-btn>
              <v-btn
                fab
                small
                dark
                color="red"
                class="ml-2"
                @click="Delete(index)"
                :disabled="localLoading || globalIsLoading"
              >
                <v-icon>mdi-delete</v-icon>
              </v-btn>
            </td>
          </tr>
        </tbody>
      </v-simple-table>
    </v-card-text>
  </v-card>
</template>
<script>
import CurrencyUtility from "@/services/utilities/currency";
import ArrayUtility from "@/services/utilities/array";
import UnitService from "@/services/Unit";

import Alert from "@/components/Alert.vue";

export default {
  components: { Alert },
  name: "ProductUnits",
  props: ["value", "currentMode"],
  data: () => ({
    mode: {
      productNew: "product-new",
      productEdit: "product-edit",
      productDisplay: "product-display",
      billEdit: "bill-edit",
      billDisplay: "biil-display",
    },
    alert: {
      visible: false,
      header: "",
      message: "",
    },
    units: [],
    localLoading: false,
  }),
  computed: {
    globalIsLoading() {
      return this.$store.state.isGlobalLoading;
    },
    selectedUnits: {
      get() {
        return this.value;
      },
      set(value) {
        this.$emit("input", value);
      },
    },
    tempSelectedUnits: {
      get() {
        return this.units.filter((unit) =>
          this.ContainsObject(unit, this.selectedUnits)
        );
      },
      set(value) {
        let findPrice = function (val, units) {
          let unit = units.find((unit) => unit.id == val.id);
          return unit ? unit.price : "0";
        };

        this.selectedUnits = value.map((val) => ({
          ...val,
          price: findPrice(val, this.selectedUnits),
        }));
      },
    },
    locale: function () {
      return this.$i18n.locale;
    },
    isBillMode() {
      return (
        this.currentMode == this.mode.billEdit ||
        this.currentMode == this.mode.billDisplay
      );
    },
    isDisplayOnly() {
      return (
        this.currentMode == this.mode.productDisplay ||
        this.currentMode == this.mode.billDisplay
      );
    },
    isProductEditable() {
      return (
        this.currentMode == this.mode.productEdit ||
        this.currentMode == this.mode.productNew
      );
    },
  },
  watch: {
    locale: async function (val) {
      if (this.isProductEditable) {
        await this.GetUnits(val);
      }
    },
  },
  methods: {
    async ErrorHandle(mainProcess) {
      try {
        this.localLoading = true;
        await mainProcess();
      } catch (err) {
        let resMessage = err.response ? err.response.data : err;
        this.alert.header = this.$t(
          "components.productFeature.units.alertHeader"
        );
        this.alert.message = resMessage;
        this.alert.visible = true;
      } finally {
        this.localLoading = false;
      }
    },
    CurrencyFormat(val) {
      return CurrencyUtility.formatMoney(val);
    },
    ContainsObject(obj, list) {
      return ArrayUtility.containsObject(obj, list);
    },
    CalculateTotalPrice(unit) {
      if (/^\d+$/.test(unit.amount))
        unit.totalPrice = parseInt(unit.amount) * unit.price;
      else unit.totalPrice = 0;

      return unit.totalPrice;
    },
    Add(index) {
      this.selectedUnits.splice(index + 1, 0, { name: "", price: "0" });
    },
    Delete(index) {
      this.selectedUnits.splice(index, 1);

      if (this.selectedUnits.length == 0) {
        this.selectedUnits.push({ name: "", price: "0" });
      }
    },
    async GetUnits(locale) {
      await this.ErrorHandle(async () => {
        let res = await UnitService.GetUnits(locale);
        this.units = res.units;
      });
    },
  },
  async created() {
    if (this.isProductEditable) {
      await this.GetUnits(this.locale);
    }

    if (this.currentMode == this.mode.productNew) {
      this.selectedUnits.push({ name: "", price: "0" });
    }
  },
};
</script>
