<template>
  <v-dialog v-model="alert.visible" persistent width="500">
    <v-card>
      <v-card-title class="headline grey lighten-2">
        {{ alert.header }}
      </v-card-title>

      <v-card-text class="pt-6">
        {{ alert.message }}
      </v-card-text>

      <v-divider></v-divider>

      <v-card-actions>
        <v-spacer />
        <v-btn color="primary" text @click="Clear">
          {{ $t("components.alert.closeBtnText") }}
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>
<script>
export default {
  name: "Alert",
  props: ["value"],
  computed: {
    alert: {
      get() {
        return this.value;
      },
      set(value) {
        this.$emit("input", value);
      },
    },
  },
  methods: {
    Clear() {
      this.alert = {
        visible: false,
        header: "",
        message: "",
      };
    },
  },
};
</script>
