<template>
  <v-row>
    <v-col xs="12" md="3">
      <alert v-model="alert" />
      <v-btn color="primary" width="100%" class="mb-6" @click="NewBill">
        {{ $t("components.billSelector.createBillBtnText") }}
      </v-btn>

      <v-btn
        color="primary"
        width="100%"
        class="mb-6"
        v-if="mode == pageMode.manage"
        @click="GoToCloseBillPage"
      >
        {{ $t("components.billSelector.closeBillBtnText") }}
      </v-btn>

      <v-autocomplete
        v-model="groupSelected"
        :items="groupList"
        dense
        outlined
        class="mb-6"
        hide-details="auto"
        item-value="id"
        item-text="name"
        @change="GroupChange()"
        :disabled="globalIsLoading"
        :label="$t(`components.billSelector.searchGroupLabel`)"
      />

      <v-autocomplete
        v-model="customerSelected"
        :items="customerList"
        dense
        outlined
        class="mb-6"
        hide-details="auto"
        item-value="id"
        item-text="name"
        @change="SearchBill()"
        :disabled="globalIsLoading"
        :label="$t(`components.billSelector.searchCustomerLabel`)"
      />

      <v-autocomplete
        v-model="billStatusSelected"
        :items="billStatus"
        dense
        outlined
        class="mb-6"
        hide-details="auto"
        item-value="KEY"
        item-text="NAME"
        @change="SearchBill()"
        :disabled="globalIsLoading"
        :label="$t(`components.billSelector.billStatusLabel`)"
      />
    </v-col>
    <v-col>
      <v-simple-table v-if="!globalIsLoading">
        <thead>
          <tr>
            <th>{{ $t("components.billSelector.table.header.column1") }}</th>
            <th>{{ $t("components.billSelector.table.header.column2") }}</th>
            <th>{{ $t("components.billSelector.table.header.column3") }}</th>
            <th>{{ $t("components.billSelector.table.header.column4") }}</th>
            <th>{{ $t("components.billSelector.table.header.column5") }}</th>
          </tr>
        </thead>
        <tbody>
          <tr
            v-for="(bill, index) in bills"
            :key="`bill-${bill.id}`"
            @click="OnBillSelect(bill)"
          >
            <td>{{ index + 1 }}</td>
            <td>{{ `${bill.customer.name_th} [${bill.id}]` }}</td>
            <td>{{ CalculateTotalPrice(bill.products) }}</td>
            <td>{{ bill.createdAt }}</td>
            <td>
              {{
                billStatus.length > 0
                  ? billStatus.find((status) => status.KEY == bill.status).NAME
                  : ""
              }}
            </td>
          </tr>
        </tbody>
      </v-simple-table>
      <v-simple-table v-if="globalIsLoading">
        <thead>
          <tr>
            <th>{{ $t("components.billSelector.table.header.column1") }}</th>
            <th>{{ $t("components.billSelector.table.header.column2") }}</th>
            <th>{{ $t("components.billSelector.table.header.column3") }}</th>
            <th>{{ $t("components.billSelector.table.header.column4") }}</th>
            <th>{{ $t("components.billSelector.table.header.column5") }}</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="index in 4" :key="index">
            <td>
              <v-skeleton-loader type="table-cell" />
            </td>
            <td>
              <v-skeleton-loader type="table-cell" />
            </td>
            <td>
              <v-skeleton-loader type="table-cell" />
            </td>
            <td>
              <v-skeleton-loader type="table-cell" />
            </td>
            <td>
              <v-skeleton-loader type="table-cell" />
            </td>
          </tr>
        </tbody>
      </v-simple-table>
    </v-col>
  </v-row>
</template>

<script>
import BillService from "@/services/Bill";
import CustomerService from "@/services/Customer";

import Alert from "@/components/Alert.vue";

export default {
  components: { Alert },
  name: "BillSelector",
  props: ["mode"],
  data: () => ({
    pageMode: {
      manage: "Manage-Bill",
      selector: "Select-Bill",
    },
    bills: [],
    billStatus: [],
    billStatusSelected: "open",
    customerSelected: "",
    customerList: [],
    groupSelected: "",
    groupList: [],
    alert: {
      visible: false,
      header: "",
      message: "",
    },
  }),
  computed: {
    globalIsLoading() {
      return this.$store.state.isGlobalLoading;
    },
    locale: function () {
      return this.$i18n.locale;
    },
  },
  watch: {
    locale: async function (val) {
      await this.SearchBill(val);
      this.billStatus = await this.$store.dispatch("cache/GetBillStatus", val);
    },
  },
  methods: {
    async ErrorHandle(mainProcess) {
      try {
        this.$store.dispatch("SetGlobalLoading", true);
        await mainProcess();
      } catch (err) {
        let resMessage = err.response ? err.response.data : err;
        this.alert.header = this.$t("components.billSelector.alertHeader");
        this.alert.message = resMessage;
        this.alert.visible = true;
      } finally {
        this.$store.dispatch("SetGlobalLoading", false);
      }
    },
    NewBill() {
      this.$router.push({
        name: "Bill",
        params: { mode: "New" },
      });
    },
    async GroupChange() {
      await this.ErrorHandle(async () => {
        await this.GetCustomerList(this.groupSelected);
      });

      await this.SearchBill();
    },
    async SearchBill() {
      await this.ErrorHandle(async () => {
        this.bills = await BillService.Search(
          this.locale,
          this.groupSelected,
          this.customerSelected,
          this.billStatusSelected
        );
      });
    },
    OnBillSelect(bill) {
      switch (this.mode) {
        case this.pageMode.manage:
          this.$router.push({
            name: "Bill",
            params: { mode: "Edit", bill },
          });
          break;
        case this.pageMode.selector:
          this.$emit("selected", bill);
          break;
        default:
          break;
      }
    },
    CalculateTotalPrice(products) {
      let total =
        products.length > 0
          ? products
              .map((product) =>
                product.units
                  .map((unit) => unit.amount * unit.price)
                  .reduce((prev, next) => prev + next)
              )
              .reduce((prev, next) => prev + next)
          : 0;
      return total;
    },
    async GetCustomerList(groupId) {
      this.customerList = await CustomerService.GetAll(this.locale, groupId);
      this.customerList.unshift({
        id: "",
        name: this.$t(`components.billSelector.selectAllAutoCompleteOption`),
      });
      this.customerSelected = this.customerList[0].id;
    },
    GoToCloseBillPage() {
      this.$router.push({
        name: "Bill Close",
      });
    },
  },
  async created() {
    await this.SearchBill(this.locale);
    await this.ErrorHandle(async () => {
      this.groupList = await CustomerService.GetAllGroup(this.locale);
      this.groupList.unshift({
        id: "",
        name: this.$t(`components.billSelector.selectAllAutoCompleteOption`),
      });
      this.groupSelected = this.groupList[0].id;

      this.billStatus = await this.$store.dispatch(
        "cache/GetBillStatus",
        this.locale
      );

      await this.GetCustomerList("");
    });
  },
};
</script>
