<template>
  <v-card>
    <v-card-text v-if="brands.length > 0 && !globalIsLoading">
      <span style="color: rgba(0, 0, 0, 0.87)">
        {{ `${$t("components.brandFilter.title")} :` }}
      </span>
      <v-chip
        v-for="brand in brands"
        :key="brand.id"
        close
        label
        outlined
        @click:close="OnClickClose(brand)"
        class="ml-2"
      >
        {{ brand.name }}
      </v-chip>
    </v-card-text>
    <v-card-text class="d-flex" v-if="globalIsLoading">
      <span class="d-flex align-center" style="color: rgba(0, 0, 0, 0.87)">
        {{ `${$t("components.brandFilter.title")} :` }}
      </span>
      <v-skeleton-loader
        v-for="index in 3"
        :key="index"
        class="ml-2"
        type="chip"
      ></v-skeleton-loader>
    </v-card-text>
  </v-card>
</template>

<script>
export default {
  name: "BrandFilter",
  props: ["value"],
  data: () => ({}),
  computed: {
    brands: {
      get() {
        return this.value;
      },
      set(value) {
        this.$emit("input", value);
      },
    },
    globalIsLoading() {
      return this.$store.state.isGlobalLoading;
    },
  },
  methods: {
    OnClickClose(brand) {
      let index = this.brands.indexOf(brand);
      if (index > -1) {
        this.brands.splice(index, 1);
      }
    },
  },
};
</script>
