<template>
  <v-card>
    <v-card-title>{{ $t("components.brandSelector.title") }}</v-card-title>
    <v-list v-if="!isLoading">
      <v-list-item
        v-for="brand in brands"
        :key="brand.id"
        link
        @click="OnBrandSelect(brand)"
      >
        <v-list-item-content>
          <v-list-item-title>{{ brand.name }}</v-list-item-title>
        </v-list-item-content>
      </v-list-item>
    </v-list>
    <v-list class="pa-0" v-if="isLoading">
      <v-skeleton-loader
        v-for="index in 4"
        :key="index"
        type="list-item"
      ></v-skeleton-loader>
    </v-list>
    <alert v-model="alert" />
  </v-card>
</template>

<script>
import BrandService from "@/services/ProductBrand";

import Alert from "@/components/Alert.vue";

export default {
  components: { Alert },
  name: "BrandSelector",
  props: ["value", "categories"],
  data: () => ({
    brands: [],
    alert: {
      visible: false,
      header: "",
      message: "",
    },
    isLoading: false,
  }),
  computed: {
    selectedBrands: {
      get() {
        return this.value;
      },
      set(value) {
        this.$emit("input", value);
      },
    },
    locale: function () {
      return this.$i18n.locale;
    },
  },
  watch: {
    locale: async function (val) {
      await this.GetBrands(val);

      // Replace new selected brand's locale
      let newSelectedBrands = [];
      for (let i = 0; i < this.selectedBrands.length; i++) {
        let newBrand = this.brands.find(
          (brand) => brand.id == this.selectedBrands[i].id
        );
        if (newBrand) {
          newSelectedBrands.push(newBrand);
        }
      }

      this.selectedBrands = newSelectedBrands;
    },
    categories: function () {
      this.FillterWithCategories(this.locale);
    },
  },
  methods: {
    async ErrorHandle(mainProcess) {
      this.isLoading = true;
      try {
        await mainProcess();
      } catch (err) {
        let resMessage = err.response ? err.response.data : err;
        this.alert.header = this.$t("components.brandSelector.alertHeader");
        this.alert.message = resMessage;
        this.alert.visible = true;
        this.isLoading = false;
      } finally {
        this.isLoading = false;
      }
    },
    OnBrandSelect(brand) {
      if (this.selectedBrands.indexOf(brand) === -1) {
        this.selectedBrands.push(brand);
      }
    },
    async GetBrands(locale) {
      await this.ErrorHandle(async () => {
        let data = await BrandService.GetBrands(locale);
        this.brands = data.brands;
      });
    },
    async FillterWithCategories(locale) {
      const categoryIds = this.categories.map((category) => {
        return category.id;
      });

      await this.ErrorHandle(async () => {
        let data = await BrandService.FillterWithCategories(
          locale,
          categoryIds
        );
        this.brands = data.brands;
      });
    },
  },
  async created() {
    await this.FillterWithCategories(this.locale);
  },
};
</script>
