<template>
  <v-card>
    <v-card-text v-if="categories.length > 0 && !globalIsLoading">
      <span style="color: rgba(0, 0, 0, 0.87)">
        {{ `${$t("components.categoryFilter.title")} :` }}
      </span>
      <v-chip
        v-for="category in categories"
        :key="category.id"
        close
        label
        outlined
        @click:close="OnClickClose(category)"
        class="ml-2"
      >
        {{ category.name }}
      </v-chip>
    </v-card-text>
    <v-card-text class="d-flex" v-if="globalIsLoading">
      <span class="d-flex align-center" style="color: rgba(0, 0, 0, 0.87)">
        {{ `${$t("components.categoryFilter.title")} :` }}
      </span>
      <v-skeleton-loader
        v-for="index in 3"
        :key="index"
        class="ml-2"
        type="chip"
      ></v-skeleton-loader>
    </v-card-text>
  </v-card>
</template>

<script>
export default {
  name: "CategoryFilter",
  props: ["value"],
  data: () => ({}),
  computed: {
    categories: {
      get() {
        return this.value;
      },
      set(value) {
        this.$emit("input", value);
      },
    },
    globalIsLoading() {
      return this.$store.state.isGlobalLoading;
    },
  },
  methods: {
    OnClickClose(category) {
      let index = this.categories.indexOf(category);
      if (index > -1) {
        this.categories.splice(index, 1);
      }
    },
  },
};
</script>
