<template>
  <v-card>
    <v-card-title>{{ $t("components.categorySelector.title") }}</v-card-title>
    <v-list v-if="!isLoading">
      <v-list-item
        v-for="category in categories"
        :key="category.id"
        link
        @click="OnCategorySelect(category)"
      >
        <v-list-item-content>
          <v-list-item-title>{{ category.name }}</v-list-item-title>
        </v-list-item-content>
      </v-list-item>
    </v-list>
    <v-list class="pa-0" v-if="isLoading">
      <v-skeleton-loader
        v-for="index in 4"
        :key="index"
        type="list-item"
      ></v-skeleton-loader>
    </v-list>
    <alert v-model="alert" />
  </v-card>
</template>

<script>
import CategoryService from "@/services/Category";

import Alert from "@/components/Alert.vue";

export default {
  components: { Alert },
  name: "CategorySelector",
  props: ["value"],
  data: () => ({
    categories: [],
    alert: {
      visible: false,
      header: "",
      message: "",
    },
    isLoading: false,
  }),
  computed: {
    selectedCategories: {
      get() {
        return this.value;
      },
      set(value) {
        this.$emit("input", value);
      },
    },
    locale: function () {
      return this.$i18n.locale;
    },
  },
  watch: {
    locale: async function (val) {
      await this.GetCategories(val);

      // Replace new selected category's locale
      let newSelectedCategories = [];
      for (let i = 0; i < this.selectedCategories.length; i++) {
        let newCategory = this.categories.find(
          (category) => category.id == this.selectedCategories[i].id
        );
        if (newCategory) {
          newSelectedCategories.push(newCategory);
        }
      }

      this.selectedCategories = newSelectedCategories;
    },
  },
  methods: {
    async ErrorHandle(mainProcess) {
      this.isLoading = true;
      try {
        await mainProcess();
      } catch (err) {
        let resMessage = err.response ? err.response.data : err;
        this.alert.header = this.$t("components.categorySelector.alertHeader");
        this.alert.message = resMessage;
        this.alert.visible = true;
        this.isLoading = false;
      } finally {
        this.isLoading = false;
      }
    },
    OnCategorySelect(category) {
      if (this.selectedCategories.indexOf(category) === -1) {
        this.selectedCategories.push(category);
      }
    },
    async GetCategories(locale) {
      await this.ErrorHandle(async () => {
        let data = await CategoryService.GetCategories(locale);
        this.categories = data.categories;
      });
    },
  },
  async created() {
    await this.GetCategories(this.locale);
  },
};
</script>
