<template>
  <v-container class="pt-6 pa-0">
    <alert v-model="alert" />
    <v-dialog v-model="billSelectorDialog" scrollable>
      <template v-slot:activator="{ on, attrs }">
        <v-btn
          color="primary"
          v-bind="attrs"
          v-on="on"
          :disabled="globalIsLoading || localLoading"
          style="width: 100%"
        >
          {{ $t("components.billFeature.bill.selectBtnText") }}
        </v-btn>
      </template>
      <v-card>
        <v-card-title>
          {{ $t("components.billFeature.bill.dialog.title") }}
        </v-card-title>
        <v-divider></v-divider>
        <v-card-text class="pt-6" style="height: 300px">
          <bill-selector :mode="billSelectorMode" @selected="OnBillSelect" />
        </v-card-text>
        <v-divider></v-divider>
        <v-card-actions>
          <v-btn color="blue darken-1" text @click="billSelectorDialog = false">
            {{ $t("components.billFeature.bill.dialog.closeBtnText") }}
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-card class="mt-6" v-if="pageData.bill">
      <v-toolbar flat color="grey lighten-3">
        <v-toolbar-title class="text-body-1">
          {{
            `${
              locale == "th"
                ? pageData.bill.customer.name_th
                : pageData.bill.customer.name_my
            } [${pageData.bill.id}]`
          }}
        </v-toolbar-title>
      </v-toolbar>
      <v-card-text>
        {{
          `${$t("components.billFeature.bill.datePrefix")} ${
            pageData.bill.createdAt
          }`
        }}
        <br />
        {{
          `${$t("components.billFeature.bill.totalPrefixt")} 
          ${CurrencyFormat(pageData.bill.totalPrice)} 
          ${$t("components.billFeature.bill.totalUnitText")}`
        }}
      </v-card-text>
    </v-card>
    <v-card class="mt-6" v-else>
      <v-card-text>
        {{ $t(`components.billFeature.bill.notSelected`) }}
      </v-card-text>
    </v-card>

    <v-container
      class="mt-6 pa-0"
      v-for="(product, index) in products"
      :key="index"
    >
      <product-card
        v-model="pageData"
        :product="product"
        :index="index"
        :loading="localLoading"
        @delete="DeleteProduct"
      />
    </v-container>
  </v-container>
</template>

<script>
import BillService from "@/services/Bill";
import CurrencyUtility from "@/services/utilities/currency";

import Alert from "@/components/Alert.vue";
import BillSelector from "@/components/BillSelector.vue";
import ProductCard from "@/components/billFeature/ProductCard.vue";

export default {
  components: { BillSelector, Alert, ProductCard },
  name: "Bill",
  props: ["value"],
  data: () => ({
    billSelectorDialog: false,
    billSelectorMode: "Select-Bill",
    localLoading: false,
    alert: {
      visible: false,
      header: "",
      message: "",
    },
  }),
  computed: {
    pageData: {
      get() {
        return this.value;
      },
      set(value) {
        this.$emit("input", value);
      },
    },
    products: function () {
      return this.pageData.bill ? this.pageData.bill.products : [];
    },
    globalIsLoading() {
      return this.$store.state.isGlobalLoading;
    },
    locale: function () {
      return this.$i18n.locale;
    },
  },
  watch: {
    locale: async function (val) {
      if (this.pageData.bill) {
        await this.GetBillById(this.pageData.bill.id, val);
      }
    },
  },
  methods: {
    async ErrorHandle(mainProcess) {
      try {
        this.localLoading = true;
        await mainProcess();
      } catch (err) {
        let resMessage = err.response ? err.response.data : err;
        this.alert.header = this.$t("components.billFeature.bill.alertHeader");
        this.alert.message = resMessage;
        this.alert.visible = true;
      } finally {
        this.localLoading = false;
      }
    },
    OnBillSelect(bill) {
      this.pageData.bill = bill;
      this.billSelectorDialog = false;
    },
    CurrencyFormat(val) {
      return CurrencyUtility.formatMoney(val);
    },
    async GetBillById(id, locale) {
      await this.ErrorHandle(async () => {
        let res = await BillService.GetById(id, locale);
        this.pageData.bill = res;
      });
    },
    async DeleteProduct(index) {
      await this.ErrorHandle(async () => {
        let bill = Object.assign({}, this.pageData.bill);
        bill.products.splice(index, 1);

        await BillService.UpdateBill(this.pageData.bill);
      });

      await this.GetBillById(this.pageData.bill.id, this.locale);
    },
  },
  async created() {},
};
</script>
