<template>
  <v-card @click="SelectProduct">
    <v-card-title>
      {{ product.name }}
      <v-spacer />
      <div @click.stop>
        <v-btn
          icon
          small
          color="red"
          @click="confirmVisible = true"
          :disabled="globalIsLoading || loading"
          :loading="globalIsLoading || loading"
        >
          <v-icon> mdi-close </v-icon>
        </v-btn>
      </div>
    </v-card-title>
    <v-card-subtitle>
      {{
        `${$t("components.billFeature.productCard.brandPrefix")} : ${
          product.brand.name
        }`
      }}
    </v-card-subtitle>
    <v-card-text>
      <v-dialog v-model="confirmVisible" persistent width="500">
        <v-card>
          <v-card-title class="headline grey lighten-2">
            {{ $t("components.billFeature.productCard.confirmDialog.title") }}
          </v-card-title>

          <v-card-text class="pt-6">
            {{
              $t(
                "components.billFeature.productCard.confirmDialog.message"
              ).replace("{0}", product.name)
            }}
          </v-card-text>

          <v-divider></v-divider>

          <v-card-actions>
            <v-btn color="error" text @click="confirmVisible = false">
              {{
                $t(
                  "components.billFeature.productCard.confirmDialog.cancelBtnText"
                )
              }}
            </v-btn>
            <v-spacer />
            <v-btn color="success" text @click="DeleteProduct">
              {{
                $t(
                  "components.billFeature.productCard.confirmDialog.confirmBtnText"
                )
              }}
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>

      <v-list rounded>
        <v-list-item v-for="(unit, i) in product.units" :key="i">
          <v-list-item-content>
            <v-list-item-title>
              {{
                `${unit.name} 
                  ${$t("components.billFeature.productCard.priceMiddle")} 
                  ${unit.price} 
                  ${$t("components.billFeature.productCard.priceCurrency")}
                  ${$t("components.billFeature.productCard.amountPrefix")}
                  ${unit.amount}`
              }}
            </v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-card-text>
  </v-card>
</template>

<script>
export default {
  name: "ProductCard",
  props: ["value", "product", "index", "loading"],
  data: () => ({
    confirmVisible: false,
    mode: {
      productSearch: "product-search",
      productNew: "product-new",
      productEdit: "product-edit",
      productDisplay: "product-display",
      billEdit: "bill-edit",
      billDisplay: "biil-display",
    },
  }),
  computed: {
    pageData: {
      get() {
        return this.value;
      },
      set(value) {
        this.$emit("input", value);
      },
    },
    globalIsLoading() {
      return this.$store.state.isGlobalLoading;
    },
  },
  methods: {
    DeleteProduct() {
      this.$emit("delete", this.index);
      this.confirmVisible = false;
    },
    SelectProduct() {
      this.pageData.billProductIndex = this.index;
      this.pageData.selectedProduct = this.product;
      this.pageData.mode = this.mode.billEdit;
    },
  },
};
</script>
